.b-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: var(--vh);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999998;
  touch-action: none;
}

.popup_content {
  /* background: #b7bac1; */
  background-color: var(--c-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  z-index: 50;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 500px;
  min-width: 480px;
}
@media only screen and (max-width: 740px) {
  .popup_content {
    width: 80%;
    min-width: inherit;
  }
}
@media only screen and (max-width: 580px) {
  .popup_content {
    width: 90%;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .popup_content {
    width: 95%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
.popup_content .popup_exit {
  top: 5px;
  right: 20px;
  position: absolute;
  text-align: center;
  color: #7f7f7f;
  font-size: 1.5rem;
  font-weight: 700;
  place-items: center;
  place-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 2.75em;
}
.popup_content .popup_exit:hover {
  color: #3f3f3f;
}
@media only screen and (max-width: 500px) {
  .popup_content .popup_exit {
    width: 48px;
    height: 48px;
  }

  .is_iOS .popup_content .popup_exit {
    position: static;
    margin-left: auto;
    margin-right: -15px;
    transform: translateY(-55px);
  }
}
.popup_content .popup_content_name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1600));
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.popup_content .popup_content_tittle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.popup_content form input {
  border: none;
  background-color: #a2a2a2;
  padding: 20px 0px;
  font-size: 16px;
  text-align: center;
  color: black;
  line-height: 1.2;
  font-weight: 400;
  width: 100%;
  margin-top: 20px;
}
@media only screen and (max-width: 400px) {
  .popup_content form input {
    width: 100%;
    max-width: inherit;
    min-width: inherit;
    padding: 18px 20px;
  }
}
.popup_content form input::-webkit-input-placeholder {
  color: black;
}
.popup_content form input::-moz-placeholder {
  color: black;
}
.popup_content form input:-ms-input-placeholder {
  color: black;
}
.popup_content form input::-ms-input-placeholder {
  color: black;
}
.popup_content form input::placeholder {
  color: black;
}
.popup_content form .popup_content_form_input button {
  margin-top: 10px;
  border: 3px solid var(--c-primary);
  background-color: var(--c-primary);
  width: 100%;
  padding: 20px 0px;
  font-size: 21px;
  font-size: calc(18px + 3 * ((100vw - 320px) / 1600));
  color: var(--c-bg);
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
@media only screen and (max-width: 600px) {
  .popup_content form .popup_content_form_input button {
    padding: 18px 0px;
  }
}
.popup_content form .popup_content_form_input button:hover {
  opacity: 0.7;
}
.popup_content form .popup_content_form_input button:after {
  content: "";
  display: block;
  width: 30px;
  height: 200px;
  opacity: 0.5;
  margin-left: 60px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0))) no-repeat -2px 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2px 0;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b3ffffff", endColorstr="#b3ffffff",GradientType=0 );
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.closePop {
  margin-top: 10px;
  border: 3px solid #008BCC;
  background-color: #008BCC;
  width: 100%;
  padding: 20px 0px;
  font-size: 21px;
  font-size: calc(18px + 3 * ((100vw - 320px) / 1600));
  color: white;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
@media only screen and (max-width: 600px) {
  .closePop {
    padding: 18px 0px;
  }
}
.closePop:hover {
  opacity: 0.7;
}
.closePop:after {
  content: "";
  display: block;
  width: 30px;
  height: 200px;
  opacity: 0.5;
  margin-left: 60px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0))) no-repeat -2px 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2px 0;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b3ffffff", endColorstr="#b3ffffff",GradientType=0 );
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .popup-fullscreen .popup_content {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }


  .popup_content .popup_exit {
    top: 20px;
  }
}
